{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .test{
            display: flex;
            flex-direction: column;
            padding: 2rem;
            gap: 1rem;
        }
    </style>
{% endblock %}

{% block body %}
<div class="test">
    <h1>H1 Text</h1>
    <h2>H2 Text</h2>
    <h3>H3 Text</h3>
    <h4>H4 Text</h4>
    <h5>H5 Text</h5>
    <h6>H6 Text</h6>
    <p>P Text</p>
    <a href="#">Link Text</a>
    <button>Button</button>
</div>

{% endblock %}
