main{
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header img{
    aspect-ratio: 1/1;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.form-row{
    display: flex;
    gap: 1em;
}

.form-column{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

form, .auth-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: max-content;
}

.auth-container p{
    max-width: 500px
}

.auth-container button{
    height: 50px;
}

.auth-container img{
    aspect-ratio: 1/1;
    width: 150px;
}